{% extends 'base.html' %}

{% block title %}{{ article.title}}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">{{ article.title }}</h1>
                <h4 class="card-subtitle mb-2 text-muted">
                    By: {{ article.author }} | {{ article.created_at }}
                </h4>
                <p class="card-text">{{ article.body }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row button-row">
        <div class="col-md-10"></div>
            <a class="btn btn-primary" href="{% url 'article_edit' article.id %}" style="width: 100%;">
                Edit
            </a>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-md-10"></div>
            <a class="btn btn-warning" href="{% url 'article_delete' post.id %}" style="width: 100%;"> 
                Delete
            </a>
        </div>
    </div>
    {% endif %}

{% endblock content %}