{% extends 'base.html' %} 

{% block title %}Article{% endblock title %}

{% block content %}
    {% for article in article_list %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Article Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        By: {{ article.author}} | {{ article.created_at }}
                    </h6>
                    <p class="card-text">{{ article.body|truncatechars:750 }}</p>
                    <a href="{% url 'article_detail' article.id %}" class="card-link">Read more...</a>
                </div>
            </div>
            <br />
        </div>
    </div>
    {% endfor %}
{% endblock content %}